  
  .chat-box {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .chat-messages {
    margin-bottom: 10px;
  }
  
  .message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
  }
  
  .message.left .message-bubble {
    background-color: #f0f0f0;
    color: #000000;
    margin-right: auto;
  }
  
  .message.right .message-bubble {
    background-color: #e5f7ff;
    color: #000000;
    margin-left: auto;
  }
  
  .message-bubble {
    padding: 10px;
    border-radius: 10px;
  }
  
  .message-bubble .sender {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .chat-input {
    display: flex;
    align-items: center;
  }
  
  .message-input {
    flex-grow: 1;
    padding: 5px;
    margin-right: 5px;
  }
  
  .send-button {
    padding: 5px 10px;
    background-color: #08ac0a;
    color: #ffffff;
    border: none;
    cursor: pointer;
  }
  
  .send-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  