/* .order-progress-container {
    min-height: 50vh;
    font-family: 'Exo 2';
    font-size: 14px;
    color: #fff;
    background: #eee;
  }
  
  .order-progress-card {
    background-color: #42469d;
    border-color: #42469d;
    border-radius: 1rem;
  }
  
  .order-progress-card .card-header {
    border-bottom: none;
    text-align: center;
  }
  
  .order-progress-card .card-header .close {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem 0;
    color: #fff;
  }
  
  .order-progress-card .modal-title {
    line-height: 3rem;
  }
  
  .order-progress-card .card-body {
    padding: 1rem;
  }
  
  .order-progress-progress-bar {
    margin-bottom: 3vh;
    overflow: hidden;
    color: white;
    padding-left: 0px;
    margin-top: 3vh;
  }
  
  .order-progress-progress-bar li {
    list-style-type: none;
    font-size: 0.8rem;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400;
    color: white;
  }
  
  .order-progress-progress-bar #step1:before {
    content: "";
    color: white;
    width: 20px;
    height: 20px;
    margin-left: 0px !important;
  }
  
  .order-progress-progress-bar #step2:before {
    content: "";
    color: #fff;
    width: 20px;
    height: 20px;
    margin-left: 32%;
  }
  
  .order-progress-progress-bar #step3:before {
    content: "";
    color: #fff;
    width: 20px;
    height: 20px;
    margin-right: 32%;
  }
  
  .order-progress-progress-bar #step4:before {
    content: "";
    color: rgb(151, 149, 149, 0.651);
    width: 20px;
    height: 20px;
    margin-right: 0px !important;
  }
  
  .order-progress-progress-bar li:before {
    line-height: 29px;
    display: block;
    font-size: 12px;
    background: rgb(151, 149, 149);
    border-radius: 50%;
    margin: auto;
    z-index: -1;
    margin-bottom: 1vh;
  }
  
  .order-progress-progress-bar li:after {
    content: '';
    height: 3px;
    background: rgb(151, 149, 149, 0.651);
    position: absolute;
    left: 0%;
    right: 0%;
    margin-bottom: 2vh;
    top: 8px;
    z-index: 1;
  }
  
  .order-progress-track {
    padding: 0 8%;
  }
  
  .order-progress-progress-bar li:nth-child(2):after {
    margin-right: auto;
  }
  
  .order-progress-progress-bar li:nth-child(1):after {
    margin: auto;
  }
  
  .order-progress-progress-bar li:nth-child(3):after {
    float: left;
    width: 68%;
  }
  
  .order-progress-progress-bar li:nth-child(4):after {
    margin-left: auto;
    width: 132%;
  }
  
  .order-progress-progress-bar li.active:before,
  .order-progress-progress-bar li.active:after {
    background: white;
  }
  
  .order-progress-step-description {
    font-size: 1.2rem;
  }
  
  @media (max-width: 767px) {
    .order-progress-step-description {
      font-size: 1rem;
    }
  }
  
  .order-progress-details {
    padding: 2rem;
    font-size: 1.4rem;
    line-height: 3.5rem;
  }
  
  @media (max-width: 767px) {
    .order-progress-details {
      padding: 2rem 0;
      font-size: 1rem;
      line-height: 2.5rem;
    }
  }
  
  .order-progress-table {
    width: 100%;
  }
  
  .order-progress-table-row {
    width: 100%;
  }
  
  .order-progress-table-cell {
    padding-left: 3rem;
  }
  
  @media (max-width: 767px) {
    .order-progress-table-cell {
      padding-left: 1rem;
    }
  }
  
  .order-progress-col-3 {
    display: grid;
    text-align: end;
  }
  
  .order-progress-col-3 .order-progress-table-row {
    align-self: flex-end;
  }
  
  .order-progress-icon {
    font-size: xx-large;
    text-align: center;
    width: 3rem;
    padding: 0.5rem;
    color: #42469d;
    background-color: #fff;
    border-radius: 2rem;
    bottom: 0;
    right: 0;
  }
  
  .order-progress-button:active {
    outline: none;
  }
  
  .order-progress-button:focus {
    outline: none;
  }
  
  .order-progress-button {
    margin-top: 50vh;
  }
   */
   .card-stepper {
    z-index: 0
    }
    
    #progressbar-2 {
    color: #455A64;
    }
    
    #progressbar-2 li {
    list-style-type: none;
    font-size: 13px;
    width: 33.33%;
    float: left;
    position: relative;
    }
    
    #progressbar-2 #step1:before {
    content: '\f058';
    font-family: "Font Awesome 5 Free";
    color: #fff;
    width: 37px;
    margin-left: 0px;
    padding-left: 0px;
    }
    
    #progressbar-2 #step2:before {
    content: '\f058';
    font-family: "Font Awesome 5 Free";
    color: #fff;
    width: 37px;
    }
    
    #progressbar-2 #step3:before {
    content: '\f058';
    font-family: "Font Awesome 5 Free";
    color: #fff;
    width: 37px;
    margin-right: 0;
    text-align: center;
    }
    
    #progressbar-2 #step4:before {
    content: '\f111';
    font-family: "Font Awesome 5 Free";
    color: #fff;
    width: 37px;
    margin-right: 0;
    text-align: center;
    }
    
    #progressbar-2 li:before {
    line-height: 37px;
    display: block;
    font-size: 12px;
    background: #c5cae9;
    border-radius: 50%;
    }
    
    #progressbar-2 li:after {
    content: '';
    width: 100%;
    height: 10px;
    background: #c5cae9;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 15px;
    z-index: -1;
    }
    
    #progressbar-2 li:nth-child(1):after {
    left: 1%;
    width: 100%
    }
    
    #progressbar-2 li:nth-child(2):after {
    left: 1%;
    width: 100%;
    }
    
    #progressbar-2 li:nth-child(3):after {
    left: 1%;
    width: 100%;
    background: #c5cae9 !important;
    }
    
    #progressbar-2 li:nth-child(4) {
    left: 0;
    width: 37px;
    }
    
    #progressbar-2 li:nth-child(4):after {
    left: 0;
    width: 0;
    }
    
    #progressbar-2 li.active:before,
    #progressbar-2 li.active:after {
    background: #6520ff;
    }